[Unit]
Description=Description=Monitor CPU Usage Service
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor_cpu
Restart=always
User=root

[Install]
WantedBy=multi-user.target
